{% if paginate.pages.size > 1 %}

  <ul class="pagination">
    
    {% if paginate.previous %}
	{% comment %}
      <li class="pagination-item w">
        <a href="{{ paginate.parts.first.url }}" class="pagination-link"></a>
      </li>
	  {% endcomment %}
      <li class="pagination-item ">
        <a href="{{ paginate.previous.url }}" class="pagination-link pagination-link--prev"></a>
      </li>
	   
    {% endif %}
    

    {% for part in paginate.parts %}
      {% if part.title == paginate['current_page'] %}
        <li class="pagination-item is-current">
          <span class="pagination-link">
            {{ part.title }}
          </span>
        </li>
      {% else %}
        <li class="pagination-item">
          {% if part.is_link %}
            <a href="{{ part.url }}" class="pagination-link">
              {{ part.title }}
            </a>
          {% else %}
            <span class="pagination-void">
              {{ part.title }}
            </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    

    {% if paginate.next %}
      <li class="pagination-item pagination-item--arrow">
        <a href="{{ paginate.next.url }}" class="pagination-link pagination-link--next"></a>
      </li>
	   {% comment %}
      <li class="pagination-item hidden-md">
        <a href="{{ paginate.parts.last.url }}"  ></a>
      </li>
	   {% endcomment %}
    {% endif %}

  </ul>
{% endif %}
