{% content_for 'title' %}
Заказ № {{ order.number }}
{% end_content_for %}
<div class='co-section--content'>
<div class='co-checkout-block--padded'>
<div class='co-title co-title--h2'>Информация о заказе</div>
<div class='co-order-information'>
<div class='co-order-information_row'>
<div class='co-order-information_title'>Дата оформления</div>
<div class='co-order-information_value'>{{ order.created_at | date: '%d.%m.%Y %H:%M' }}</div>
</div>
<div class='co-order-information_row'>
<div class='co-order-information_title'>Сумма и статус</div>
<div class='co-order-information_value'>
<span class='co-price'>{{ order.total_price | money }}</span>
<span class='co-order-state'>{{ order.customer_status }}</span>
{% if order.paid? %}
<span class='co-order-state co-order-state--paid'>Оплачен</span>
{% else %}
<span class='co-order-state co-order-state--not_paid'>Не оплачен</span>

{% if order.payment_title == 'CloudPayments' %} 
<a id="pay-button" class="co-button co-button--small">Перейти к оплате</a> 

 
{% endif %}
{% if order.payment_needed? %}
<a class="co-button co-button--small" href="{{ order.pay_url }}">{% if order.paid_with_bank_bill? %}Перейти к оплате (распечатать квитанцию){% else %}Перейти к оплате{% endif %}</a>

{% endif %}
{% endif %}
</div>
</div>
{% if order.can_notify_client? and order.client.messengers.show_subscription_section? %}
{% if order.client.messengers.show_subscription_section_only_on_desktop? %}
{% assign notifications_section_class = 'co-social_login--desktop_only' %}
{% elsif order.client.messengers.show_subscription_section_only_on_mobile? %}
{% assign notifications_section_class = 'co-social_login--mobile_only' %}
{% else %}
{% assign notifications_section_class = '' %}
{% endif %}
<div class='co-order-information_row {{ notifications_section_class }}' id='messengers_notifications'>
<div class='co-order-information_title'>Получать уведомления в мессенджерах</div>
<div class='co-order-information_value'>
{% include "system_messengers_notification_v2" %}
</div>
</div>
{% endif %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Способ оплаты</div>
<div class='co-order-information_value'>{{ order.payment_title }}</div>
</div>
{% if order.payment_description != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'></div>
<div class='co-order-information_value'>{{ order.payment_description | strip_html }}</div>
</div>
{% endif %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Способ доставки</div>
<div class='co-order-information_value'>{{ order.delivery_description_with_tariff | strip_html }}</div>
</div>
{% if order.delivery_info.outlet.address != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Адрес точки самовывоза</div>
<div class='co-order-information_value'>
<a href='//maps.yandex.ru/?text={{ order.delivery_info.outlet.address | url_encode }}' target='_blank' title='Yandex'>{{ order.delivery_info.outlet.address }}</a>
</div>
</div>
{% if order.delivery_info.outlet.description != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'></div>
<div class='co-order-information_value'>{{ order.delivery_info.outlet.description | strip_html }}</div>
</div>
{% endif %}
{% else %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Адрес доставки</div>
<div class='co-order-information_value'>{{ order.shipping_address.full_delivery_address }}</div>
</div>
{% endif %}
{% if order.delivery_date != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Дата доставки</div>
<div class='co-order-information_value'>{{ order.delivery_date | date: "%d.%m.%Y" }}</div>
</div>
{% endif %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Получатель</div>
<div class='co-order-information_value'>{{ order.shipping_address.full_name }} {{ order.shipping_address.phone }}</div>
</div>
{% if order.client.email != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>E-mail</div>
<div class='co-order-information_value'>{{ order.client.email }}</div>
</div>
{% endif %}
{% if order.comment != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>Комментарии к заказу</div>
<div class='co-order-information_value'>{{ order.comment | strip_html | newline_to_br }}</div>
</div>
{% endif %}
{% for field in order.result_fields %}
{% if field.value != blank %}
<div class='co-order-information_row'>
<div class='co-order-information_title'>{{ field.client_title }}</div>
<div class='co-order-information_value'>
{% if field.is_file? %}
<a target="_blank" href="{{ field.value }}">{{ field.file_name }}</a>
{% else %}
{{ field.value }}
{% endif %}
</div>
</div>
{% endif %}
{% endfor %}
</div>
<div class='co-title co-title--h2'>Состав заказа</div>
<table class='co-table co-table--to_card'>
<tr class='co-table-row co-table-row--head'>
<td class='co-table-cell co-table-cell--head'>Наименование</td>
<td class='co-table-cell co-table-cell--head'>Кол-во</td>
<td class='co-table-cell co-table-cell--head'>Стоимость</td>
</tr>
{% for item in order.items %}
<tr class='co-table-row co-table-row--body co-table-row--striped'>
<td class='co-table-cell co-table-cell--body' data-title='Наименование'>{{ item.title }}</td>
<td class='co-table-cell co-table-cell--body' data-title='Кол-во'>{{ item.quantity}}</td>
<td class='co-table-cell co-table-cell--body' data-title='Стоимость'>{{ item.total_price.with_margin | money }}</td>
</tr>
{% endfor %}
{% for discount in order.discounts %}
<tr class='co-table-row co-table-row--body co-table-row--striped'>
<td class='co-table-cell co-table-cell--body co-table-cell--hide@xs'>
{{ discount.description }}
</td>
<td class='co-table-cell co-table-cell--body' colspan='2' data-title='{{ discount.description }}'>-{{ discount.amount.with_margin | money }}</td>
</tr>
{% endfor %}
{% unless order.delivery_price == 0 %}
<tr class='co-table-row co-table-row--body co-table-row--striped'>
<td class='co-table-cell co-table-cell--body co-table-cell--hide@xs'>Доставка</td>
<td class='co-table-cell co-table-cell--body' colspan='2' data-title='Доставка'>{{ order.delivery_price.with_margin | money }}</td>
</tr>
{% endunless %}
{% unless order.margin_amount == 0 %}
<tr class='co-table-row co-table-row--body co-table-row--striped'>
<td class='co-table-cell co-table-cell--body'>Наценка на способ оплаты (включена в стоимость)</td>
<td class='co-table-cell co-table-cell--body' colspan='2'>{{ order.margin }} %</td>
</tr>
{% endunless %}
<tr class='co-table-row co-table-row--foot'>
<td class='co-table-cell co-table-cell--foot' colspan='3'>
<div class='co-order_history-total_title'>Итого:</div>
<div class='co-order_history-total_sum co-price'>{{ order.total_price | money }}</div>
</td>
</tr>
</table>
</div>
</div>
<script class="CloudPayments">
    window.addEventListener('load', function(){
        if(('{{order.custom_status_title}}' !== 'Платеж авторизован'
                && 'SMS' === 'DMS'
                && '{{order.payment_title}}' === 'CloudPayments') ||
            ('SMS' === 'SMS' &&
                '{{order.payment_title}}' === 'CloudPayments')) {
            showLodingPicture();
            pay({% if order.paid? %}true{% else %}false{% endif %},
                getCurrencyCPCode('{{order.currency}}'),
                732167,
                '{{order.number}}', {
                    publicId: 'pk_7288065416c004eddad41a140ab3b',
                    description: 'Оплата заказа №' + '{{order.number}}',
                    amount: {{order.total_price}},
                    invoiceId: '{{order.id}}',
                    accountId: '732167',
                    email: '{{order.client.email}}',
                    phone: '{{order.client.phone}}',
                    data: {
                        firstName: '{{order.client.name}}',
                        lastName: '{{order.client.surname}}',
                        middleName: '{{order.client.middlename}}',
                        phone: '{{order.client.phone}}',
                        address: '{{order.shipping_address}}',
                        comment: '{{order.comment }}',
                        insalesId: '732167',
                        orderId: '{{order.id}}',
                        cloudPayments: {
                         //customerReceipt: genReceipt(),
                        }
                    }
                }
            );
        }
    });
    function genReceipt() {
        return {
            Items: [
            {% for item in order.items offset:0 %}
                {
                    label : '{{ item.title }}',
                    price : '{{ item.sale_price }}',
                    quantity : '{{ item.quantity }}',
                    amount : '{{ item.total_price }}',
                    vat : 0
                },
            {% endfor %}
                {
                    label : '{{ order.delivery_description }}',
                    price : '{{ order.delivery_price }}',
                    quantity : 1,
                    amount : '{{ order.delivery_price }}',
                    vat : 0
                },
            ],
            taxationSystem: 2,
            email: '{{order.client.email}}',
            phone: '{{order.client.phone}}'
        };
    }
</script>  
<script class="CloudPayments">
    window.addEventListener('load', function(){
        if(('{{order.custom_status_title}}' !== 'Платеж авторизован'
                && 'SMS' === 'DMS'
                && '{{order.payment_title}}' === 'CloudPayments') ||
            ('SMS' === 'SMS' &&
                '{{order.payment_title}}' === 'CloudPayments')) {
            showLodingPicture();
            pay({% if order.paid? %}true{% else %}false{% endif %},
                getCurrencyCPCode('{{order.currency}}'),
                732167,
                '{{order.number}}', {
                    publicId: 'pk_7288065416c004eddad41a140ab3b',
                    description: 'Оплата заказа №' + '{{order.number}}',
                    amount: {{order.total_price}},
                    invoiceId: '{{order.id}}',
                    accountId: '732167',
                    email: '{{order.client.email}}',
                    phone: '{{order.client.phone}}',
                    data: {
                        firstName: '{{order.client.name}}',
                        lastName: '{{order.client.surname}}',
                        middleName: '{{order.client.middlename}}',
                        phone: '{{order.client.phone}}',
                        address: '{{order.shipping_address}}',
                        comment: '{{order.comment }}',
                        insalesId: '732167',
                        orderId: '{{order.id}}',
                        cloudPayments: {
                         //customerReceipt: genReceipt(),
                        }
                    }
                }
            );
        }
    });
    function genReceipt() {
        return {
            Items: [
            {% for item in order.items offset:0 %}
                {
                    label : '{{ item.title }}',
                    price : '{{ item.sale_price }}',
                    quantity : '{{ item.quantity }}',
                    amount : '{{ item.total_price }}',
                    vat : null
                },
            {% endfor %}
                {
                    label : '{{ order.delivery_description }}',
                    price : '{{ order.delivery_price }}',
                    quantity : 1,
                    amount : '{{ order.delivery_price }}',
                    vat : null
                },
            ],
            taxationSystem: 2,
            email: '{{order.client.email}}',
            phone: '{{order.client.phone}}'
        };
    }
</script>
<!-- Event snippet for Казахи купились conversion page -->
<script>
  console.log({{order.items}});
  gtag('event', 'conversion', {
      'send_to': 'AW-768923614/YwM6CK-6ncoBEN6v0-4C',
      'value': 1.0,
      'currency': 'UAH',
      'transaction_id': ''
  });
</script>
<script>
  const currentOrder = {{ order | json }};
  </script>
</div>
</div>
<style>

#cloudpayments-loading-overlay-63456123 img {
  left:50%
 }  
</style>